.select {
  display: inline-block;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  background: url(./arrow.svg) no-repeat;
  background-position: calc(100% - 6px) center !important;
  padding: 5px 10px 5px 0px;
  width: auto;
  &::-ms-expand {
    display: none;
  }
}
