@import "./utils.scss";

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: auto;
}

.header {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0px;
  font-size: 14px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-weight: 500;
}

.scrolled {
  padding: 20px 0px;
  background-color: #fff;
}

.header__navigation {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .close__button {
    display: none;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header.scrolled .menu__link::after {
  background-color: #e5f4f6;
}

.menu__link {
  position: relative;
  margin: 0px 15px 0px 0px;
}

.menu__link::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.menu__link:hover::after,
.controls__button:hover::after {
  width: 22px;
  height: 22px;
}

.menu__link a {
  color: #000;
  text-decoration: none;
}

.menu__link:last-child {
  margin: 0;
}

.controls__button {
  display: inline-block !important;
  position: relative;
  margin: 0px 20px 0px 0px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
}

.controls__button:last-child {
  margin: 0;
}

.burger__menu {
  cursor: pointer;
  display: none;
  span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: var(--btn-primary);
    margin: 3px 0px;
    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}

.controls__button.active {
  @extend %button;
  background-color: var(--btn-primary);
  padding: 7px 24px;
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 115px;
  }

  .header {
    padding: 30px 0px;
    font-size: 13px;
  }

  .scrolled {
    padding: 15px 0px;
  }

  .menu__link {
    margin: 0px 12px 0px 0px;
  }

  .menu__link:hover::after,
  .controls__button:hover::after {
    width: 20px;
    height: 20px;
  }

  .controls__button {
    margin: 0px 12px 0px 0px;
  }

  .controls__button.active {
    background-color: var(--btn-primary);
    padding: 5px 20px;
  }
}
@media screen and (max-width: 850px) {
  .logo {
    width: 115px;
  }

  .burger__menu {
    display: block;
  }

  .header__navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: fit-content;
    max-width: 300px;
    padding: 20px;
    overflow-y: scroll;
    background-color: #fff;
    transform: translate(100%);
    transition: all 0.3s ease;
    &.active {
      transform: translate(0%);
    }
    .header__menu {
      margin: auto 0px;
      flex-direction: column;
      .menu__link {
        margin: 12px 0px;
      }
    }
    .close__button {
      position: absolute;
      right: 20px;
      top: 20px;
      font-weight: 700;
      font-size: 16px;
      display: block;
    }
  }

  .header {
    padding: 30px 0px;
    font-size: 13px;
  }

  .scrolled {
    padding: 15px 0px;
  }

  .menu__link:hover::after,
  .controls__button:hover::after {
    width: 20px;
    height: 20px;
  }

  .controls__button {
    margin: 0px 12px 0px 0px;
  }

  .controls__button.active {
    background-color: var(--btn-primary);
    padding: 5px 20px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background-color: #fff;
    padding: 20px 0px;
  }
}
