@import "../../../styles/utils.scss";

.flightBook {
  padding: 35px 30px;
  background-color: #fff;
  box-shadow: -3px 0px 10px 0px rgba($color: #000000, $alpha: 0.1);
  margin: -90px 0 110px;
  border-radius: 10px;

  .flightBook__header {
  }
  .flightBook__body {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  .flightBook__footer {
  }
  .flightBook__button {
    @extend %button;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    font-size: 18px;
    line-height: 27px;
    font-family: "Poppins", serif;
    font-weight: 500;

    .greeting__link_arrow {
      padding-left: 50px;
    }
  }
}
