@import "../../styles/utils.scss";

.membership__section {
  margin-bottom: 65px;
}

.section__title {
  margin-bottom: 65px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background-color: #f5f5f5;
  box-shadow: none;
  padding: 24px 24px;
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-40px);
    background-color: #656293;
    .card__title {
      color: #fff;
    }
    .card__list {
      .list_item {
        color: #fff;
      }
    }
    .card__price {
      color: #fff;
    }
    .card__button {
      color: #151515;
      background-color: #fff;
    }
  }
  .card__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #151515;
    margin-bottom: 30px;
  }
  .card__subtitle {
    color: #a9a9aa;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .card__list {
    list-style: none;
    padding-left: 32px;
    border-bottom: 1px dashed #a9a9aa;
    margin-bottom: 65px;
    .list_item {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 12px;
    }
  }
  .card__price {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 24px;
    span {
      line-height: 40px;
      font-size: 18px;
      font-weight: 400;
    }
  }
  .card__button {
    @extend %button;
    width: 100%;
    padding: 12px 5px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    &::after {
      background-color: #151515 !important;
      color: #fff !important;
    }
  }
}
